.chessboard{
    	width: 640px;
    	height: 640px;
    	border: 20px solid grey;
	margin: 0px 325px;
}
.black{
	float: left;
    	width: 80px;
    	height: 80px;
    	background-color: black;
}
.white{
	float: left;
    	width: 80px;
    	height: 80px;
    	background-color: white;
}